<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>
      Gray Heller
    </title>
    <meta name="author" content="hudsongray">
    <meta name="description" content="">
    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:url" content="{{urls.full}}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{urls.site}}/hudsongray_logo.png" />
    <meta name="twitter:title" content="{{meta.title}}" />
    <meta name="twitter:description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="{{urls.css}}/../style.css">
    <link rel="stylesheet" href="{{urls.css}}/font-awesome.min.css">
    <link rel="stylesheet" href="{{urls.css}}/hudsongray.css">
    <!-- Favicons and Touch Device Icons -->
    <link rel="shortcut icon" href="{{urls.site}}/favicon.ico">
    <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina-precomposed.png">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<!--
	<script src="{{urls.js}}/jquery-stellar.min.js"></script>
	-->

    {{{extraHead}}}
  </head>
  <body class="{{bodyClass}}">