{{> site-header}}
{{> site-navigation}}

<script>
  $(function() {

  });
</script>

<div id="case-study" class="case-study-{{pageId}}">
  <!-- Header -->

  <div id='work' class='swipe'>
    <div class='swipe-wrap'>

      <div>
        <div class="block block--slide-ratio"style="background-image: url('{{{page_slide1_image_url}}}');">
        </div>

        <div class="slide-footer">
          <h3 class="h3">{{{page_slide1_title}}}<span class="font-light">{{{page_slide1_subtitle}}}</span></h3>
        </div>
      </div>
      <div>
        <div class="block block--slide-ratio"style="background-image: url('{{{page_slide2_image_url}}}');">
        </div>

        <div class="slide-footer">
          <h3 class="h3">{{{page_slide2_title}}}<span class="font-light">{{{page_slide2_subtitle}}}</span></h3>
        </div>
      </div>
      <div>
        <div class="block block--slide-ratio"style="background-image: url('{{{page_slide3_image_url}}}');">
        </div>

        <div class="slide-footer">
          <h3 class="h3">{{{page_slide3_title}}}<span class="font-light">{{{page_slide3_subtitle}}}</span></h3>
        </div>
      </div>
      <div>
        <div class="block block--slide-ratio"style="background-image: url('{{{page_slide4_image_url}}}');">
        </div>

        <div class="slide-footer">
          <h3 class="h3">{{{page_slide4_title}}}<span class="font-light">{{{page_slide4_subtitle}}}</span></h3>
        </div>
      </div>

    </div>
  <div class="swipe-controls__wrapper">
          <div class="swipe-controls">
            <button class="swipe-controls__item swipe-controls__item--prev">Left</button>
            <button class="swipe-controls__item swipe-controls__item--next">Right</button>
          </div>
        </div>
      </div>

      <!-- Our about-project -->
      <div id="about-project" class="block block--touch about-project u-bg-white">
        <div class="block__inner ">
          <div class="section-title section-title--transparent">
            <span class="forward-slashes">//</span><span class="section-title__span">About Project</span><span class="forward-slashes">//</span>
          </div>

        </div>
      </div>
      <div id="about-project" class="block block--touch about-project u-bg-palegrey">
        <div class="block__inner block__inner--about-project">
          <div class="about-img">
            {{#if isCS1}}
            <div class="case-study-video-wrapper">
              <div class="play-overlay"></div>
              <img class="case-study-video-first-frame" src="{{urls.images}}/case-study/cs1-about-img.jpg"/>
              <iframe class="case-study-video" src="//player.vimeo.com/video/102642401" data-src="//player.vimeo.com/video/102642401" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            {{/if}}
            {{#if isCS2}}
            <img src="{{urls.images}}/case-study/cs2-about-img.jpg"/>
            {{/if}}
            {{#if isCS3}}
            <div class="case-study-video-wrapper">
              <div class="play-overlay"></div>
              <img class="case-study-video-first-frame" src="{{urls.images}}/case-study/cs3-about-img.jpg"/>
              <iframe class="case-study-video" width="100%" height="100%" frameborder="0" scrolling="no" src="http://player.theplatform.com/p/OyMl-B/oIChOKSBFJ6b/select/Wajrj92Gucz8&usa_t=embed?autoPlay=false" data-src="http://player.theplatform.com/p/OyMl-B/oIChOKSBFJ6b/select/Wajrj92Gucz8&usa_t=embed"></iframe>
            </div>
            {{/if}}
          </div>
          <div class="about-desc">
            <h4>Objective</h4>
            <p class="first">
              {{{page_objective_text}}
            </p>
            <h4>Strategy</h4>
            <p>
              {{{page_strategy_text}}
            </p>
          </div>
        </div>
      </div>
      <!-- /Our about-project -->

      <!-- Our about-project -->
      <div id="results" class="block block--touch about-results u-bg-diag-grey">
        <div class="block__inner block__inner--results">
          <div class="section-title section-title--transparent section-title--results">
            <span class="section-title__span">Results</span>
          </div>
          <div class="block__inner">
            <div class="results">
              <div class="result3">
                <img src="{{{page_results_image_url}}}" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /Our about-project -->

    </div>

    {{> site-footer}}
