{{> site-header}}

<div id="index">
  <!-- Studios -->
  <div id="index_hero" class="block block--hero block--touch"
  style="background-image: url('{{urls.images}}/index/work_hero_01_iphone_portrait.jpg');"
  data-base="index/work_hero_01_"
  data-default="index/work_hero_01_desktop"
  data-palmLandscape="false"
  data-ext=".jpg"
  data-stellar-ratio="0.3"
  >

  <div class="block__inner">
    <h1 class="h1 block__title">
      A Brand <br/>Experience <br/>Agency <br/>for a New <br/>Brand Era.
    </h1>

    <h5 class="index__desc u-margin-tL u-text-light"></h5>

  </div>

</div>
<!-- /Studios -->
{{> site-navigation}}


<!-- About hudsongray -->
<div class="block block--touch about-us u-bg-lightergrey">
  <div class="block__inner block__inner--about-us">
    <p>HudsonGray is a full service creative marketing and branding agency.
      We will work with you to create seamless strategic marketing campaigns
      that leverage the power of your brand narrative and encourage audience growth in the new brand era.

    </p>
  </div>
</div>
<!-- /About hudsongray -->

<div class="section-title section-title--work u-bg-lightgrey">
  <span class="forward-slashes">//</span><span class="section-title__span">Our work</span><span class="forward-slashes">//</span>

  <ul class="swipe-pagination swipe-pagination--work">
    <li class="swipe-pagination__item swipe-pagination__item--passion is-active"></li>
    <li class="swipe-pagination__item swipe-pagination__item--blu"></li>
    <li class="swipe-pagination__item swipe-pagination__item--navy"></li>
    <li class="swipe-pagination__item swipe-pagination__item--rain"></li>
  </ul>
</div>

<div id='work' class='swipe'>
  <div class='swipe-wrap'>
    <div>
      <!-- Loreal -->
      <div class="block block--slide-ratio"
      style="background-image: url('{{urls.images}}/index/work_loreal_desktop.jpg');">

            <!--
            <div class="Loreal-phones">
              <img src="{{urls.images}}/index/work_Loreal_phones.png" alt="" width="100%">
            </div>
          -->
        </div>

        <div class="slide-footer">
          <h3 class="h3">Lorem Ipsum</h3>
          <a>View Project</a>
        </div>
        <!-- /Loreal -->
      </div>

      <div>
        <!-- Monument Valley -->
        <div class="block block--slide-ratio"
        style="background-image: url('{{urls.images}}/index/work_whaletrail_desktop.png');"
        data-base="index/work_whaletrail_"
        data-default="index/work_whaletrail_desktop"
        data-ext=".png"
        data-palmLandscape="false"></div>

        <div class="slide-footer">
          <h3 class="h3">Lorem Ipsum</h3>
          <a>View Project</a>
        </div>
        <!-- /Monument Valley -->
      </div>

    </div>
    <div class="swipe-controls__wrapper">
      <div class="swipe-controls">
        <button class="swipe-controls__item swipe-controls__item--prev">Left</button>
        <button class="swipe-controls__item swipe-controls__item--next">Right</button>
      </div>
    </div>
  </div>

  <!-- About hudsongray -->
  <div class="block block--touch whats-new u-bg-white">
    <div class="block__inner block__inner--whats-new">
      <div class="section-title">
        <span class="forward-slashes">//</span><span class="section-title__span">What's New</span><span class="forward-slashes">//</span>
      </div>
      <ul class="new-projects">
        <li>
          <div class="new-project">
            <div class="new-project-thumb">
            </div>
            <div class="new-project-title">
              // Lego
            </div>
          </div>
        </li>
        <li>
          <div class="new-project">
            <div class="new-project-thumb">
            </div>
            <div class="new-project-title">
              // Heineken
            </div>
          </div>
        </li>
        <li>
          <div class="new-project">
            <div class="new-project-thumb">
            </div>
            <div class="new-project-title">
              // Boxtrolls
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /About hudsongray -->

  <!-- Our capabilities -->
  <div class="block block--touch our-capabilities u-bg-white">
    <div class="block__inner block__inner--our-capabilities">
      <div class="section-title section-title--transparent">
        <span class="forward-slashes">//</span><span class="section-title__span">Our Capabilities</span><span class="forward-slashes">//</span>
      </div>
      <div class="capability-row strategy">
        <div class="capability-icon"><i></i><div class="icon-title">Strategy</div></div>
        <div class="capability-desc1">
          HudsonGray specializes in learning about you — partnering with your team to develop a comprehensive strategy to understand your brand, your industry, your competitors, and your audience.
        </div>
        <div class="capability-desc2">
          RFP briefing, research, pilot viewing, script reading, product sampling, competitive analysis, trend assessment, feasibility
        </div>
      </div>
      <div class="capability-row creative">
        <div class="capability-icon"><i></i><div class="icon-title">Creative</div></div>
        <div class="capability-desc1">
          HudsonGray has unparalleled talent and employs the top creative minds in the industry, craftsmen of visual and experiential concepts who will bring your brand to life with unique and provocative concepts, sure to engage your audience.
        </div>
        <div class="capability-desc2">
          corporate & visual identity, conceptual creative, graphic design and branding, 3D visualization, event design, branded content, video design and production
        </div>
      </div>
      <div class="capability-row production">
        <div class="capability-icon"><i></i><div class="icon-title">Production</div></div>
        <div class="capability-desc1">
          HudsonGray recognizes that quality production is in the details. When the project moves from creative to production, our skilled and experienced team works tirelessly to ensure that the brand vision is realized and that all components of the project are executed seamlessly.
        </div>
        <div class="capability-desc2">
        </div>
      </div>
      <div class="capability-row marketing">
        <div class="capability-icon"><i></i><div class="icon-title">Marketing</div></div>
        <div class="capability-desc1">
          HudsonGray is a full service marketing agency. We combine expertise in experiential, digital, and social media marketing to provide unparalleled reach for our clients.
        </div>
        <div class="capability-desc2">
          events, branded environments, pop ups,
          mobile tours, road shows, guerrilla stunts, mobile engagement tools, websites, microsites, brand and sponsorship activations, conferences and branded collateral
        </div>
      </div>
      <div class="capability-row digital-and-interactive">
        <div class="capability-icon"><i></i><div class="icon-title">Digital And Interactive</div></div>
        <div class="capability-desc1">
          HudsonGray has extensive experience in the digital and interactive arena. We utilize an integrated approach by combining experiential and digital platforms to reach wider audiences and enhance brand recognition.
        </div>
        <div class="capability-desc2">
          interactive walls, robotics, gestural media, mobile app development, iBeacons, NFC,
          photo/video engagements, aurasma, augmented reality, interactive registration, live streams and web series
        </div>
      </div>
      <div class="capability-row results">
        <div class="capability-icon"><i></i><div class="icon-title">Results</div></div>
        <div class="capability-desc1">
          HudsonGray delivers true, measurable results. We will establish a framework for understanding the impact of the campaign in terms of specialized ROI and ensure that our targets
          have been met.
        </div>
        <div class="capability-desc2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corporis vero animi quis molestiae. Voluptas dolores.
        </div>
      </div>
    </div>
  </div>
  <!-- /Our capabilities -->

  <!-- Our capabilities -->
  <div class="block block--touch our-thinking">
    <div class="block__inner block__inner--our-thinking">
      <div class="section-title section-title--transparent">
        <span class="forward-slashes">//</span><span class="section-title__span">Our Thinking</span><span class="forward-slashes">//</span>
      </div>
      <p>
        Gone are the days when a marketing campaign was a monologue. These days, it’s more like a conversation. It’s a new era, and people increasingly get to choose how, where and why they engage with a brand’s message. Speaking to your audience across a wide range of channels and in a voice that stays true to your brand has never been more important.
      </p>
      <p>
        At HudsonGray, we want to help you embrace the new brand era.
        We’ll collaborate with you to build multi-layered marketing campaigns that harness the potential of the new media landscape and empower your audience to take an active part in your growth. We use our broad industry experience to pinpoint what makes your brand narrative unique and create consumer experiences that are engaging, authentic and highly shareable. We work nimbly and intelligently to help you plan for the future, and execute in the moment.
      </p>
      <p>
        We’re HudsonGray, and we’re built for the new brand era.
      </p>
    </div>
  </div>
  <!-- /Our capabilities -->
  <!-- Brand Board -->
  <div class="block block--touch our-clients u-bg-white">
    <div class="block__inner block__inner--our-clients">
      <div class="section-title section-title--clients section-title--transparent">
        <span class="forward-slashes">//</span><span class="section-title__span">Our Clients</span><span class="forward-slashes">//</span>
      </div>
    </div>
  </div>
  <!-- /Brand Board -->

  <!-- CONTACT -->
  <div class="section-title section-title--contact">
    <span class="section-title__span">Contact</span>
  </div>
  <div class="block block--touch find-us u-bg-white">
    <div class="block__inner block__inner--contat">

     <div class="studios">
       <div class="studios__item" data-studio="london">

         <!-- Studio Details -->
         <div class="studios__item__details u-text-nonBlack">
           <h3 class="">Los Angeles</h3>
           <p class="p--address">
             <span class="street-address">62 Shoreditch High Street</span>
             <br />
             <span class="region">London E1 6JJ</span>
             <br />
             <span class="country-name">United Kingdom</span>
             <br />
             <span class="telephone">+44 (0) 207 613 0433</span>
             <a target="_blank" class="maps__link u-link-block u-margin-tS" href="https://maps.google.com/maps?q=62+Shoreditch+High+Street+London+E1+6JJ+United+Kingdom&amp;hl=en&amp;sll=40.747244,-73.995747&amp;sspn=0.014972,0.023432&amp;gl=us&amp;hnear=62+Shoreditch+High+St,+London,+United+Kingdom&amp;t=m&amp;z=16">Go to Google Maps</a>
           </p>
         </div>
         <!-- /Studio Details -->

         <!-- Studio Map -->
         <div class="studios__item__directions">
           <div id="londonMap" class="studio__directions__map"></div>
         </div>
         <!-- /Studio Map -->
       </div>
	    <!--

    -->
    <div class="studios__item" data-studio="nyc">

     <!-- Studio Details -->
     <div class="studios__item__details u-text-nonBlack">
       <h3 class="">New York</h3>

       <p class="p--address">
         <span class="street-address">236W 27th Street. 12F</span>
         <br />
         <span class="region">New York, NY. 10001</span>
         <br />
         <span class="country-name">United States</span>
         <br />
         <span class="telephone">+1 (212) 518-4900</span>
         <br />
         <a target="_blank" class="maps__link u-link-block u-margin-tS" href="https://maps.google.com/maps?q=236W+27th+Street.+12F+New+York,+NY.+10001+United+States&amp;hnear=236+W+27th+St,+New+York,+10001&amp;gl=us&amp;t=m&amp;z=16">Go to Google Maps</a>
       </p>
     </div>
     <!-- /Studio Details -->

     <!-- Studio Map -->
     <div class="studios__item__directions">
       <div id="nycMap" class="studio__directions__map"></div>
     </div>
     <!-- /Studio Map -->
   </div>
	    <!--

    -->
    <div class="studios__item" data-studio="malmo">      <!-- /Studio Image -->
     <!-- Studio Details -->
     <div class="studios__item__details u-text-nonBlack">
       <h3 class="">Chicago</h3>

       <p class="p--address">
         <span class="street-address">Södra Förstadsgatan 2</span>
         <br />
         <span class="region">211 43 Malmö</span>
         <br />
         <span class="country-name">Sweden</span>
         <br />
         <span class="telephone">+46 (0) 40 330 480</span>
         <a target="_blank" class="maps__link u-link-block u-margin-tS" href="https://maps.google.com/maps?q=S%C3%B6dra+F%C3%B6rstadsgatan+2+211+43+Malm%C3%B6+Sweden&amp;hl=en&amp;ie=UTF8&amp;sll=51.524115,-0.077254&amp;sspn=0.012296,0.023432&amp;gl=us&amp;hnear=S%C3%B6dra+F%C3%B6rstadsgatan+2,+211+43+Malm%C3%B6,+Sweden&amp;t=m&amp;z=16">Go to Google Maps</a>
       </p>
     </div>
     <!-- /Studio Details -->

     <!-- Studio Map -->
     <div class="studios__item__directions">
       <div id="malmoMap" class="studio__directions__map"></div>
     </div>
   </div>
   <!-- /Studio Map -->
 </div>


</div>
</div>
<!-- /About hudsongray -->
   <!--
<div class="twitter-block">
  <a href="http://twitter.com/hudsongray" class="twitter-block__icon"></a>
  <ul class="swipe-pagination swipe-pagination--twitter">
    <li class="swipe-pagination__item swipe-pagination__item--mare is-active"></li>
    <li class="swipe-pagination__item swipe-pagination__item--mare"></li>
    <li class="swipe-pagination__item swipe-pagination__item--mare"></li>
  </ul>
  <div id='twitter' class='swipe'>
    <div class='swipe-wrap'>
      {{#each twitterFeed}}
      <div>
        <blockquote class="twitter-block__tweet">
          <p>@{{user}}: {{{linkifiedText}}}</p>
        </blockquote>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="swipe-controls__wrapper">
    <div class="swipe-controls">
      <button class="swipe-controls__item swipe-controls__item--prev">Left</button>
      <button class="swipe-controls__item swipe-controls__item--next">Right</button>
    </div>
  </div>
</div>
-->


{{> site-footer}}
